@font-face {
    font-family:Helvetica;
    src:url(Helvetica.ttf)
}
body {
    width: 100%;
    height:100%;
    margin:0
}
a {
    color:inherit;
    text-decoration:none;
}
#fullContainer {
    width:100%;
    height:2200px;
    padding:44px 0;
}
#canvasContainer {
    margin: 0 auto;
    width:1200px;
    height:900px;
    cursor:grab;
    position:relative;
    z-index:2
}
#canvasContainer:active{
    cursor:grabbing
}
#canvasContainer, canvas {
    border-radius:8px
}
#hoverName{
    position:relative;
    font-family:Helvetica;
    top:-80px;
    left:12px;
    height:76px
}
#hoverName > span {
    font-size:64px;
    color:#FFFFFF;
    z-index:3;
    position:relative;
}
#bio {
    margin: 0 auto;
    width:1200px;
    height:900px;
    position:relative;
}
#sliderContainer {
    width:220px;
    height:60px;
    right:16px;
    top:16px;
    position:absolute;
    cursor:auto;
    z-index:3;
}
#colorSlider {
    width:172px;
    height:4px;
    position:absolute;
    right:32px;
    top:28px;
    background-color:white;
    cursor:pointer;
}
#sliderDot {
    width:24px;
    height:24px;
    border-radius:50%;
    position:relative;
    top:-10px;
    left:-4px; 
    background-color:white
}
#dotColor {
    width:20px;
    height:20px;
    border-radius:50%;
    position:relative;
    top:2px;
    left:2px
}
#sliderLabel {
    position:absolute;
    right:32px;
    top:40px;
    font-size:12px
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    color:white
    
}
#bioContainer {
    width:1188px;
    margin:0 auto;
    position:relative;
}
#toprow {
    width:100%;
    display:inline-flex;
    height:360px
}
#leftBio{
    width:48%
}
#bio-head{
    height:120px;
    display:inline-flex;
}
#avatar {
    width:120px;
    height:120px;
    border-radius:50%;
    display:flex;
}
#avatar > img {
    width:110px;
    height:110px;
    border-radius:50%;
    margin:auto auto
}
#personalinfo {
    position:relative;
    left:24px;
}
#personalinfo > div {
    height:30px;
    font-size:24px;
    font-family:Helvetica;
    font-weight:500;
    color:white;
}
#socialrow {
    display:inline-flex;
    width:160px;
    justify-content:space-evenly
}
#socialrow > a {
    margin-top:auto
}
#socialrow > a > img {
    height:24px;
    width:24px;
}
#bio-body {
    font-family:Helvetica;
    font-size:18px;
    color:white;
    line-height:24px;
    margin-top:12px;
}
#skills {
    width:48%;
    position:relative;
    left:4%;
}
#skillTitle{
    position:relative;
    top:80px;
    font-family:Helvetica;
    font-size:28px;
    font-weight:600;
    color:white;
}
#skillGrid {
    position:relative;
    top:104px;
    display:flex;
    flex-wrap:wrap
}
.skill {
    width:80px;
    height:80px;
    position:relative;
    margin: 0 24px 24px 0;
}
.skill > img {
    width:48px;
    height:48px;
    margin: 8px 16px;
}
.skill > span {
    color:white;
    width:100%;
    text-align:center;
    font-family:Helvetica;
    font-size:14px;
    position:absolute;
    bottom:4px;
    left:0px
}
#timelineContainer {
    width:1188px;
    margin:0 auto;
    position:relative;
}
#timelinetitle {
    font-family:Helvetica;
    font-size:36px;
    font-weight:600;
    color:white;
}
#projectlist {
    width:100%;
    height:300px;
    position:relative;
    display:inline-flex
}
#timeline {
    background-color:white;
    height:18px;
    margin:auto 0;
    position:absolute;
    width:1046px;
    left:71px;
    top:141px;
}
#projectsContainer {
    margin: auto 0;
    position:relative;
    display:flex
}
#project {
    height:160px;
    width:160px;
    border-radius:50%;
    z-index:3;
    position:relative;
    margin: auto 0;
    transition:all .15s
}
.timelineNav {
    width:44px;
    margin:auto 0;
    position:relative;
    z-index:4;
}
#navLeft {
    left:4px;
}
#navRight {
    right:4px;
}
/* this element gave me a ton of trouble and messed up my plans for the timeline with its baffling vertical scroll. I added the bottom padding to fix the scroll wheel that appeared otherwise */
#innerProjects{
    overflow-x:hidden;
    overflow-y:visible;
    width:1050px;
    margin:auto auto;
    height:100%;
    display:flex;
    padding-bottom:425px;
}
#projectHead {
    width:70%;
    left:15%;
    top:36px;
    text-align:center;
    font-family:Helvetica;
    z-index:2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    cursor:pointer;
}
#projectTitle {
    font-size:18px;
    font-weight:bold;
    
}
#projectDate{
    font-size:12px;
}
#projectThumbnail {
    height:140px;
    width:140px;
    border-radius:50%;
    position:absolute;
    left:10px;
    top:10px;
    overflow:hidden;
    cursor:pointer;
}
#projectThumbnail > img {
    height:100%;
    width:100%;
    filter:brightness(.75) blur(1px);
    transition:all .5s
}
#projectInfo {
    width:200%;
    position:relative;
    top:180px;
    background-color:white;
    border-radius:4px;
    padding:16px;
}
#projectInfo::before{
	content: ' ';
	position: absolute;
	left:68px;
    top:-24px;
	border: 12px solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
    border-bottom-color: white;
}
#projectInfoHead {
    padding:4px 6px;
    display:inline-flex
}
#projectInfoTitle {
    font-family:Helvetica;
    color:black;
    font-size:24px;
    font-weight:bold;
}
#projectGit {
    height:24px;
    width:24px;
    position:absolute;
    right:20px;
    top:22px;
}
#projectInfoBody {
    padding:6px 6px;
    font-family:Helvetica;
    font-size:14px;
    line-height:18px;
}
#projectBanner {
    position:relative;
    margin: 24px 6px;
    width: 308px;
}
#footer {
    width:100%;
    height:44px;
    position:relative;
    top:444px;
    font-family:Helvetica;
    font-size:12px;
    text-align:center;
    display:flex
}
#footer > div {
    margin:auto auto
} 

